.box {
    margin: 0 25px;
    padding-top: 100px;
    .boxSlider {
        max-width: 1200px;
        margin: 10px auto 100px;
        padding: 60px 50px 70px 50px;
        box-shadow: 0 3px 20px rgba(87, 85, 85, 0.08);
        background: #fff;
        border-radius: 4px;

        .titleSlider {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: #eba801;
            font-family: "Pangolin", cursive;
        }

        .subTitleSlider {
            font-size: 25px;
            text-align: center;
            display: block;
            padding: 13px 0 40px 0;
            font-weight: 700;
        }

        .imgFoodItem {
            text-align: center;

            .imgFood {
                margin: 0 auto;
                padding: 15px 20px;
                width: 100px;

                box-shadow: 0 3px 20px rgb(0 0 0 / 8%);
            }

            .nameCategory {
                font-size: 14px;
                font-weight: 700;
                padding-top: 10px;
            }
        }
    }
}
