.navBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    padding: 0 15%;

    z-index: 1000;

    .navLeft {
        display: flex;
        align-items: center;

        .navLogo {
            background-image: url("../../../assets/images/logo.png");
            background-size: cover;

            height: 70px;
            width: 70px;
            margin-right: 2px;
        }

        .pageName {
            color: #ffd800;
            font-size: 20px;
            margin-right: 25px;
            user-select: none;
        }

        .menuList {
            display: flex;
            text-decoration: none;

            .menuItem {
                font-size: 17px;
                margin: 0 10px;

                font-weight: 600;

                color: white;
                cursor: pointer;
            }

            .textDecoration {
                text-decoration: none;
            }
        }
    }

    .navRight {
        display: flex;
        align-items: center;

        .cart {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 31px;
            color: white;
            margin: 0 15px;

            svg {
                cursor: pointer;
            }

            .rowNumber {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                font-size: 13px;
                right: -9px;
                bottom: -4px;
                padding: 3px 7px;
                border-radius: 50%;
                border: 1px solid #888;

                color: rgb(255, 255, 255);
                background-color: rgb(251, 180, 3);
            }

            .cartContainer {
                position: absolute;
                width: 410px;
                background: white;
                top: 45px;
                right: -20px;
                display: none;
                padding: 13px 13px 20px 13px;
                border-radius: 4px;
                box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.5);
                animation: fadeIn ease 0.25s;

                &::after {
                    content: "";
                    position: absolute;
                    border-width: 15px 22px;
                    top: -26px;
                    right: 12px;
                    border-style: solid;
                    border-color: transparent transparent white transparent;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 150px;
                    height: 50px;
                    top: -33px;
                    right: 3px;
                }

                .listCart {
                    color: black;

                    .title {
                        margin-bottom: 10px;
                        opacity: 0.7;
                        font-size: 16px;
                        font-weight: 700;
                        padding-bottom: 10px;
                        border-bottom: 1px solid rgb(216, 215, 215);
                    }

                    .wapperItem {
                        max-height: 355px;
                        overflow-y: scroll;

                        .itemCart {
                            display: flex;
                            color: black;
                            font-size: 10px;
                            padding-bottom: 25px;

                            img {
                                width: 50px;
                                height: 50px;
                            }

                            .infoProduct {
                                display: flex;
                                flex: 1;
                                justify-content: space-between;

                                .leftInfo {
                                    padding-left: 5px;
                                    max-width: 200px;

                                    .nameProduct {
                                        font-size: 16px;
                                        font-weight: 700;
                                        line-height: 20px;
                                        display: block;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 1;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        margin-bottom: 10px;
                                    }

                                    .eatOutProduct {
                                        font-size: 13.5px;
                                        font-weight: 600;
                                        opacity: 0.9;
                                        line-height: 20px;
                                        display: block;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 1;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                }

                                .rightInfo {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-end;
                                    margin-right: 8px;

                                    .price {
                                        display: flex;
                                        font-size: 15px;
                                        font-weight: 700;
                                        color: #f15b30;
                                        margin-bottom: 10px;
                                        align-items: flex-end;

                                        .quantily {
                                            font-size: 12.7px;
                                            color: rgb(92, 92, 92);
                                            font-weight: 600;
                                            padding-left: 10px;
                                        }
                                    }

                                    .deleteProduct {
                                        font-weight: 600;
                                        font-size: 14px;
                                        display: flex;
                                        align-items: center;
                                        cursor: pointer;

                                        &:hover {
                                            color: #f15b30;
                                        }

                                        .iconDelete {
                                            display: block;
                                            padding-left: 5px;
                                            position: relative;
                                            top: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .paymentBtn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        margin: 18px auto 0;
                        width: 90%;
                        padding: 13px 10px;
                        background: #565cba;
                        border-radius: 10px;
                        color: white;
                        cursor: pointer;
                        
                        &:hover {
                            opacity: 0.94;
                        }

                        .price {
                            font-size: 15px;
                            font-weight: 600;
                        }

                        .checkout {
                            font-size: 16px;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            
                            svg {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            &:hover .cartContainer {
                display: block;
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}

.wapperUser {
    position: relative;
    top: 1px;
    
    .logout {
        display: none;
        position: absolute;
        bottom: -77px;
        right: -14px;
    }
    
    &:hover .logout {
        display: block;
        animation: fadaIn linear 0.25s;
    }
    
    .profile {
        display: flex;
        align-items: center;
        margin-left: 30px;
        cursor: pointer;
    
        .ImageUser {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    
        .nameUser {
            padding-left: 8px;
            color: white;
            font-size: 15.5px;
            font-weight: 700;
        }
    }

    @keyframes fadaIn{
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
}



.goToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;

    padding: 5px;
    border-radius: 50%;

    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-out 0s;

    box-shadow: rgb(0 0 0 / 20%) 0px 1px 10px;
    cursor: pointer;
    z-index: 1100;

    &:hover {
        background: rgb(255, 81, 78);

        svg {
            color: white;
        }
    }

    svg {
        font-size: 35px;
        color: rgb(255, 81, 78);
    }
}
